#yt-sync-container {
	transform: translateY(-16px);
	display: none;
}

div#movie_player[yt-sync-isLiveContent="true"]:not(.ad-showing) div.ytp-time-display:not(.ytp-live) #yt-sync-container {
	display: inline-block;
}

#yt-sync-toggle {
	padding: 5px 15px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	color: #f8f8f8;
}

#yt-sync-toggle.SYNC_OFF {
	background-color: #484848;
}

#yt-sync-toggle.SYNC_ON {
	background-color: #28a828;
}

#yt-sync-toggle.SYNC_ON.SYNC_BASE {
	background-color: #c82828;
}

#yt-sync-input {
	width: 50px;
	height: 25px;
	background: #282828;
	color: #f8f8f8;
	border: 1px solid #282828;
	text-align: right;
	display: none;
}

#yt-sync-container:has(.SYNC_ON) #yt-sync-input {
	display: inline;
}

#yt-sync-warning {
	width: 180px;
	height: 60px;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: normal;
	color: #f8f8f8;
	background-color: #b82828;
	opacity: 0.9;
	border-radius: 8px;
	position: absolute;
	translate: -145px -75px;
	display: none;
}

.ytp-time-display:has(#yt-sync-toggle.SYNC_ON) #yt-sync-warning.isOutsideSeekRange {
	display: inline-flex;
}