#yt-sync-container {
	transform: translateY(-16px);
	display: none;
}

div#movie_player:not(.ad-showing) div.ytp-time-display:not(.ytp-live) #yt-sync-container {
	display: inline-block;
}

#yt-sync-toggle {
	padding: 5px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	color: #f8f8f8;
	width: 60px;
	transition: background-color 0.2s, box-shadow 0.2s;
}

#yt-sync-toggle:hover {
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.35);
}

#yt-sync-toggle.SYNC_OFF {
	background-color: #484848;
}

#yt-sync-toggle.SYNC_ON {
	background-color: #28a828;
}

#yt-sync-toggle.SYNC_ON.SYNC_BASE {
	background-color: #c82828;
}

#yt-sync-input {
	width: 50px;
	height: 25px;
	margin-left: 6px;
	padding: 0;
	background: #282828;
	color: #f8f8f8;
	border: none;
	text-align: right;
	display: none;
}

#yt-sync-container:has(.SYNC_ON) #yt-sync-input {
	display: inline;
}

#yt-sync-warning {
	padding: 12px;
	font-size: 16px;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: normal;
	color: #f8f8f8;
	background-color: #c82828;
	opacity: 0.9;
	border-radius: 8px;
	position: absolute;
	translate: -145px -90px;
	display: none;
}

.ytp-time-display:has(#yt-sync-toggle.SYNC_ON) #yt-sync-warning.isOutsideSeekRange {
	display: inline-flex;
	flex-flow: column;
}

.ytp-time-display:has(#yt-sync-toggle.SYNC_BASE) #yt-sync-menu {
	position: absolute;
	display: inline-block;
}

.kebab-btn {
	background: none;
	border: none;
	cursor: pointer;
	margin: 0 4px 0 4px;
	padding: 8px;
	border-radius: 40%;
	transition: background-color 0.2s;
	display: flex;
	flex-direction: column;
	gap: 3px;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: normal;
}

.kebab-btn:hover {
	background-color: #484848;
}

.dot {
	width: 4px;
	height: 4px;
	background-color: #f8f8f8;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #484848
}

.dropdown-menu {
	position: absolute;
	bottom: 55px;
	left: -15px;
	margin-bottom: 8px;
	background-color: #282828;
	border: 1px solid #484848;
	border-radius: 8px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	min-width: 160px;
	display: none;
	z-index: 10;
	overflow: hidden;
}

.dropdown-menu.show {
	display: block;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: left;
	padding: 10px 16px;
	color: #f8f8f8;
	text-decoration: none;
	cursor: pointer;
	transition: background-color 0.2s;
	font-size: 14px;
	user-select: none;
	line-height: normal;
}

.menu-item:hover {
	background-color: #484848;
}

.checkmark {
	width: 16px;
	height: 16px;
	visibility: hidden;
	color: #f8f8f8;
	margin-right: 8px;
}

.menu-item.selected {
	font-weight: 600;
}

.menu-item.selected .checkmark {
	visibility: visible;
}

.checkmark svg {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: currentColor;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}